html {
    font-family: Arial;
    color: #474747;
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {

    /*  background: red; /* For browsers that do not support gradients
      background: -webkit-linear-gradient(white, grey); /* For Safari 5.1 to 6.0
      background: -o-linear-gradient(white, grey); /* For Opera 11.1 to 12.0
      background: -moz-linear-gradient(white, grey); /* For Firefox 3.6 to 15
      background: linear-gradient(white, grey); /* Standard syntax (must be last) */

    background-attachment: fixed !important;
    background-size: 100% 100%;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(155, 193, 204, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(155, 193, 204, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(155, 193, 204, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(155, 193, 204, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(155, 193, 204, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(155, 193, 204, 1) 100%);
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

header {
/*    width: 100%;*/
    background-color: orange;
    position: relative;
    top: 0px;
    left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    box-shadow: 0px 2px 20px #888888;

    background: #ffa500; /* Old browsers */
    //background: -moz-linear-gradient(top, #ffa500 0%, #ff0000 100%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(top, #ffa500 0%, #ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffa500 0%, #ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa500', endColorstr='#ff0000', GradientType=0); /* IE6-9 */

}

header img {
    float: left;
    padding-right: 15px;
}

main {
    margin-top: 5%;
}

main h2 {
    margin-bottom: 2%;
}

input{
  font-size: 13px;
  padding: 0 5px ;
}

#login_main {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.login_label {
    display: inline-block;
    width: 50%;
    height: 50px;
}

.login_input {
    width: 40%;
    height: 30px;
    border-radius: 5px;
}

#anmeldeButton {
    color: white;
    background: blue;
    border: 0px;
    width: 50%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 25%;
    background: rgba(82, 52, 247, 1);
    background: -moz-linear-gradient(top, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(82, 52, 247, 1)), color-stop(100%, rgba(50, 64, 117, 1)));
    background: -webkit-linear-gradient(top, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
    background: -o-linear-gradient(top, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
    background: -ms-linear-gradient(top, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
    background: linear-gradient(to bottom, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
}

@media screen and (max-width: 399px) {
  .login_input {
    width: 90%;
    height: 30px;
    left: 5%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .login_label {
    height: 25px;
    width: 100%;
}
  
  #anmeldeButton {
    width: 90%;
    left: 5%;
    margin-left: 0;
  }
}

#abmeldeButton, #optionsButton {
    position: absolute;
    color: white;
    background: blue;
    width: 5%;
    border: 0px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    background: rgba(82, 52, 247, 1);
    background: -moz-linear-gradient(top, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(82, 52, 247, 1)), color-stop(100%, rgba(50, 64, 117, 1)));
    background: -webkit-linear-gradient(top, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
    background: -o-linear-gradient(top, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
    background: -ms-linear-gradient(top, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
    background: linear-gradient(to bottom, rgba(82, 52, 247, 1) 0%, rgba(50, 64, 117, 1) 100%);
}

#abmeldeButton {
    right: 2%;
}

#optionsButton {
    right: 7%;
}