.container {
    display: flex; /* or inline-flex */
}

#sidebar{
    width:20%;
}
#overview_main{
    width:80%;
}
#geraeteContainer{
    display:flex;
    flex-wrap: wrap;
}
.geraet{
    margin-left: 2%;
    margin-bottom:2%;
    width:40%;
    border:1px solid black;
    border-radius:10px;

}
.gereateImage{
    width:50%;
    height:auto;

}
.geraeteContent{
    float:right;
    width:50%;
    background-color:white;
    height:100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}