.container {    
    display: flex;
    width: 100%;
}


/*

Struktur der Seite:

div.container
|--section#overview_main 
|----div#geraeteContainer
|    |----div.geraet
|    |----div.geraet
|    |----div.geraet
|    |----div.geraet
|    |...
|--aside#sidebar
|--|---div>h2
|--|---div>h4+p
|--|---div>h4+p
|--|...
*/

aside{
    order: 2;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 20%;
}

aside>div{
    width: 100%;
    margin: 2px;
}


#overview_main{
    order: 1;
    margin-top: 20px;
    border-right: solid 1px;
    border-color: grey;
    width: 80%;
}

#geraeteContainer{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.geraet{
    margin: 2%;
    min-width: 35%;
    width: 45%;
    height: 15em;
    border:1px solid black;
    border-radius:10px;
}

.geraet:hover,.geraet a>img:hover{
    color: #7ad3ff;
    background-color: #7ad3ff;
}

.gereateImage{
    width:46%;
    height: 80%;
    padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 10%;
}

.gereatActions {
    right: 0;
    bottom: 0;
}

.gereatActions a img {
    height: 20px;
    bottom: 0;
    float: right;
    margin-right: 10px;
}

.geraeteContent{
    float:right;
    width:50%;
    background-color:white;
    height:100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.geraeteContent h3 {
    padding-left: 5px;
    padding-bottom: 15px;
    word-wrap: break-word
}

.geraeteContent h4 {
    padding-left: 5px;
    text-decoration: none;
    word-wrap: break-word

}


@media screen and (max-width: 399px) {
    .container {    
        display: block;
    }
    
    .geraet{
        margin: 2%;
        min-width: 15em;
        width: 95%;
        height: 15em;
    }
    
    #overview_main{
        width: 100%;   
    }
    
    aside{
        width: 100%;
    }
    
}

@media screen and (min-width: 400px) and (max-width: 767px) {
    .geraet{
        margin: 2%;
        width: 95%;
        height: 15em;
        border:1px solid black;
        border-radius:10px;
    }
    
    #overview_main{
        width: 70%;   
    }
    
    aside {
        word-wrap: break-word;
    }
}
